#todo
{
	text-align: center;
}
#tabla_lista
{
	text-align: center; 
	margin: 0 auto;
	text-align: left;
}
#titulor
{
	text-align: center;
}
#tabla_reserva
{
	text-align: center; 
	width: 70%;
	margin: 0 auto;
	text-align: left;
}
#titulo_chequeo
{
	text-align: center;
}
footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
